*
	box-sizing: border-box

body
	font-family: 'Muli',sans-serif
	color: $text-color
	background: $secondary
	padding-bottom: 400px

.container
	max-width: 1100px
	margin: auto

img
	max-width: 100%
	object-fit: cover
	height: 100%

button
